body {
    box-sizing: border-box;
    background: white;
    padding: 0;
    margin: 0;
}

.app-wrapper {
    max-width: 1000px;
    margin: auto;
}

img{
    border-radius: 10px;
}

.content-wrapper{
    box-sizing: border-box;
    display: block;
    float: right;
    width: 75%;
    background: white;
}
